FRONTEND_URL='http://localhost:3000'
DATABASE_URL="postgresql://postgres.vdpujselxfgsjoeosxvu:r-skkuduler%23%24~fjw@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
ADMIN_PORT=4001
CLIENT_PORT=4000
PEPPER="84ea3e2d67decb827adbcdd3d363923e4ac881681c82462902fca85eba35692c"
