FRONTEND_URL='http://localhost:3000'
DATABASE_URL="postgresql://postgres.vdpujselxfgsjoeosxvu:r-skkuduler%23%24~fjw@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
ADMIN_PORT=4001
CLIENT_PORT=4000
